<div>
    <form #form ="ngForm" (ngSubmit) = "onSubmit(form)">

        <div>
            <label for="first-name">First Name:</label><br>
            <input id="first-name" name="first-name" [(ngModel)] = "employeeModel.firstName" >
            
        </div>


        <div>
            <label for="last-name">Last Name:</label><br>
            <input id="last-name" name="last-name" [(ngModel)] = "employeeModel.lastName">
        </div>

        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" [(ngModel)] = "employeeModel.email">
        </div>

        <div>
            <label for="contact">Contact Number:</label><br>
            <input type="tel" id="contact" name="contact" [(ngModel)] = "employeeModel.contact">
        </div>

        <div>
            <label for="address">Address:</label><br>
            <textarea id="address" name="address" cols="20" rows="3" [(ngModel)] = "employeeModel.address"></textarea>
        </div>

        <div>
            <label for="username">Username:</label><br>
            <input id="username" name="username" [(ngModel)] = "employeeModel.username">
        </div>

        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" [(ngModel)] = "employeeModel.password">
        </div>

        <div>
            Gender:<br>
            <div>
                <input id="gendermale" type="radio" name="gender" value="male" [(ngModel)] = "employeeModel.gender">
                <label for="gendermale">Male</label>
            </div>

            <div>
                <input id="genderfemale" type="radio" name="gender" value="female" [(ngModel)] = "employeeModel.gender">
                <label for="genderfemale">Female</label>
            </div>


        </div>

        <div>
            <label for="qualification">Qualification:</label><br>
            <select id="qualification" name="qualification" style="width: 130px  !important;" [(ngModel)] = "employeeModel.qualification">
              
                <option *ngFor ="let type of  qualification" [value] = "type">{{type}}</option>
                
            </select>
        </div>

        <div>
            <label for="experience">Experience:</label><br>
            <select id="experience" name="experience" style="width: 130px  !important;" [(ngModel)] = "employeeModel.experience">
                <option *ngFor="let lvl of  experince" [value]="lvl">{{lvl}}</option>
                
            </select>
        </div>

        <div>
            <label for="Languages">Coding Languages:</label>
            <div *ngFor ='let lang of language'>
              <input type="checkbox" name="Languages" value="{{lang.value}}"  [(ngModel)]="lang.checked"/>
              <label for={{lang}}>{{lang.name}}</label>
            </div>

            

        </div>

        <div><input type="submit" value="Submit"></div>
    </form>

</div>

{{employeeModel | json}}
